extends ../_layout
block site-title
    | User-Profile
block style
    link(rel="stylesheet" href="/static/css/users/users-profile.css")
block container
    div.col-sm-7.col-sm-offset-2.user-info
        img.profile-picture.col-sm-5(src=pageOwner.image)
        ul.information.col-sm-7
            li.row
                div.left.col-sm-6
                    | Username:
                div.right.col-sm-6
                    | #{pageOwner.username}
            li.row
                div.left.col-sm-6
                    | Name:
                div.right.col-sm-6
                    | #{pageOwner.firstname} #{pageOwner.lastname}
            li.row
                div.left.col-sm-6
                    | About me:
                div.right.col-sm-6
                    if pageOwner.userInfo
                        | #{pageOwner.userInfo}
                    else
                        | No information.
        if pageOwner.isFriend
            a.btn.btn-primary(href=`/send-message/${pageOwner.username}`) Leave Message
            a.btn.btn-primary(href=`/create-post/${pageOwner.username}`) Create Post
        else if !user.isAnonymous
            a.btn.btn-primary(href=`/send-friendship-reques/${pageOwner.username}`) Send Friendship Request