doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title="Ninja`s Social Network"
        link(rel="stylesheet" href="./css/loged-user.css")
        link(href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet")
        link(rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css")

    body
        div(id="pos-fixed")
            header(id="header" class="row")
                h1(class="col-sm-6") Ninja`s Social Network
                div(id="user-info" class=" col-sm-5")
                    div(class="row")
                        div(class="user-image col-sm-1 col-sm-offset-8")
                            img(src=image alt="" class="profile-picture")
                        a(href="#" class="username col-sm-3") #{username}
            nav(id="nav")
                ul(id="nav-list" class="row")
                    li(class="nav-list-item col-sm-3")
                        a(href="#") Friends
                    li(class="nav-list-item col-sm-3")
                        a(href="#") Messages
                    li(class="nav-list-item col-sm-3")
                        a(href="#") Account info
                    li(class="nav-list-item col-sm-3")
                        a(href="#") Logout
        main(id="main")
            each message in messages
                div(class="post row col-sm-7 col-sm-offset-2")
                    header(class="row")
                        img(src=message.image alt="" class="user-image col-sm-6")
                        div(class="username col-sm-5")
                            a(href="#") #{message.author}
                    div(class="post-content row col-sm-9 col-sm-offset-1")
                        p #{message.content}
                    div(class="post-buttons row col-sm-10")
                        button(class="btn btn-primary like") Like
                        button(class="btn btn-primary comments") View comments
            