extends _layout
block site-title
    | Profile
block style
    link(rel="stylesheet" href="/static/css/user-profile.css")
block container
    div(class="leftOption row col-sm-3")
        ul(id="listOfOption" class="col-sm-12")
            li(class="post col-sm-10 col-sm-offset-1")
                a(href="/update-details" class="btn btn-primary col-sm-10") Update profile
        if user.requests.length
            ul.requets
                div.unconfirmed-requests.col-sm-offset-1
                    | Unconfirmed requests
                each request in user.requests
                    li.custom-style.col-sm-12
                        form(action=`/confirm-request/${request._id}` method="POST")
                            a(href=`/users/${request.requestUser}/profile`) #{request.requestUserFullname}
                            img(src=request.requestUserImage alt="" class="col-sm-2")
                            input(type="submit" class="btn btn-primary" value="Confirm Friendship")
        else
            div.no-requests.col-sm-offset-1
                | No unconfirmed Friendship requets
                
    div(class="row col-sm-5 col-sm-offset-1" )
        header(class="row")
            img(src= user.image alt="" class="col-sm-6")
            div(class="custom-style username col-sm-5")
                h4
                    | Username: #{user.username}
                h4
                    | Name: #{user.firstname}  #{user.lastname}
        div(class="custom-style row col-sm-12")
            p.about
                if user.userInfo
                    | #{user.userInfo}
                else
                    | About me...
    
    div(class="friends-list row col-sm-3")
        div(class="custom-style row")
            p Your friends
        ul(id="friends")
            if user.friends.length
                each friend in user.friends
                    li(class="friend-info row")
                        img(src=friend.image alt="" class="col-sm-5")
                        a(href=`/users/${friend.username}/profile` class="col-sm-5") #{friend.username}
            else
                li
                    p(class="no-friends") No friends        
    