extends _layout
block site-title
    | Home Page
block style
    link(rel="stylesheet" href="/static/css/user-messages.css")
block container
    h2#messages-header 
        | Your messages
    div#messages
        each message in messages
            div.message-container.row
                header.message-header.col-sm-1
                        img(src= message.image alt="" class="user-image")
                div.message.col-sm-10
                    div.author-username
                        | From
                        a(href=`/users/${message.author}/profile`) #{message.author}
                        | to
                        a(href=`/users/${message.targetUser}/profile`) #{message.targetUser}
                    div.content
                        | #{message.content}
                    div.date
                        | Recieved on: #{message.postDate}